<div class="bio__title">
    HOLA! HELLO! SALUT! HALLO! ԲԱՐԵՎ!
</div>
<div class="bio__info">
    <div class="info__text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias dolorum voluptatibus earum aliquam cum maxime ad laudantium quisquam, porro temporibus eos odio minima consequatur iure incidunt tempora ducimus maiores dicta.</p>
    </div>
    <div class="info__photo">FOTO</div>
</div>
