<div class="bio__title">HOLA! HELLO! SALUT! HALLO! ԲԱՐԵՎ!</div>
<div class="bio__info">
    <div class="info__text">
        <p class="text__first">
            I’m a full-stack developer who’s definitely more of a back-end kind of person. I love building
            REST APIs that are not just secure, but also follow clean, solid design principles. Spring Boot and Java are
            my go-to tools, but I’ve also rolled out APIs in Node.js with Express and Laravel when the moment called for
            it.
        </p>
        <p>
            What drives me? Creating software that’s reliable, scalable, and a breeze to maintain. I’m passionate
            about code, love learning new things, and I’m always on the lookout for ways to level up my craft.
        </p>
    </div>
    <div class="info__photo">FOTO</div>
</div>
