<div class="bio__title">
    HOLA! HELLO! SALUT! HALLO! ԲԱՐԵՎ!
</div>
<div class="bio__info">
    <div class="info__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis officia quasi optio ullam doloremque consectetur,
        quis sequi adipisci cupiditate nesciunt libero voluptatibus quaerat quae ex ad molestiae facere repellat est.
    </div>
    <div class="info__photo">FOTO</div>
</div>
