---
import { Picture } from "astro:assets";
import heart from "../../assets/images/other/heart.svg";
---

<a class="cv__cv_a" href="/files/DiegoLinaresOrtizCVJun2025.pdf" target="_blank" rel="noopener noreferrer">
    <div class="cv_a__text">Tap for brains (aka CV)</div>
    <Picture src={heart} alt="European Comission" class="cv_a__icon" />    
</a>
