---

---

<div class="footer__container">
    <div class="container__thanks">
        Made with love and care (2025).
    </div>
    <div class="container__cc">
        <div class="cc__div" xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/">
            <span property="dct:title">MyPortfolio&nbsp;</span>by&nbsp;<span property="cc:attributionName">Diego Linares Ortiz&nbsp;</span> is marked with&nbsp;
            <a class="cc_div__a" href="https://creativecommons.org/publicdomain/zero/1.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" >
                CC0 1.0&nbsp;
                <img class="a__img" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt=""/>
                <img class="a__img" src="https://mirrors.creativecommons.org/presskit/icons/zero.svg?ref=chooser-v1" alt=""/>
            </a>
        </div>
    </div>
</div>
