<div class="hobbies__title">HOBBIES</div>
<div class="hobbies__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque laboriosam nobis velit inventore porro nulla perferendis, ea, culpa ab, minus neque itaque impedit mollitia! Ullam, aliquid. Numquam cumque itaque ipsa?</div>