<div class="projects__title">PROJECTS</div>
<div class="projects__projects_desc">

    <div>Portfolio Diego</div>
    <div>API REST NodeJS</div>
    <div>API REST Spring Boot (Java)</div>
    <div>API REST Spring boot (Kotlin)</div>

    <div>TODO: Tengo que documentar los proyectos en github, buscar una imagen para cada uno y vincularlos aquí</div>
</div>
