---
// SCSS
import "../styles/main_grid.scss";

// COMPONENTS
import FunctDivs from "./change_theme_divs/FunctDivs.astro";
import Bio from "./change_theme_divs/Bio.astro";
import Socials from "./change_theme_divs/Socials.astro";
import Techs from "./change_theme_divs/Techs.astro";
import Experience from "./change_theme_divs/Experience.astro";
import Langs from "./change_theme_divs/Langs.astro";
import Footer from "./change_theme_divs/Footer.astro";
import Projects from "./change_theme_divs/Projects.astro";
import CV from "./change_theme_divs/CV.astro";
import FAQ from "./change_theme_divs/FAQ.astro";
---

<main class="main__grid">
    <section class="grid__bio">
        <Bio />
    </section>
    <section class="grid__cv">
        <CV />
    </section>
    <section class="grid__socials">
        <Socials />
    </section>
    <section class="grid__projects">
        <Projects />
    </section>
    <section class="grid__techs">
        <Techs />
    </section>
    <section class="grid__lang">
        <Langs />
    </section>
    <section class="grid__experience">
        <Experience />
    </section>

    <section class="grid__footer">
        <Footer />
    </section>
    

    <FunctDivs />
</main>
