@use "../global.scss" as *; // Import global variables


@mixin funct {
    writing-mode: vertical-rl;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .funct__text {
        font-weight: bold;
    }

    .funct__icon {
        .icon__sun {
            width: 2em;
            height: auto;
        }
        .icon__moon {
            transform: rotate(135deg);
            width: 2em;
            height: auto;
        }
        .icon__rainbow {
            transform: rotate(135deg);
            width: 2em;
            height: auto;
        }
        
    }
}