@use "../global.scss" as *; // Import global variables

@mixin bio {
    position: relative;

    .bio__title {
        font-weight: bold;
        margin-bottom: 1em;
    }

    .info__text {
        position: relative;

        z-index: 2;

        .text__first {
            max-width: 80%;
        }
    }

    .info__photo {
        position: absolute;
        right: 2em;
        bottom: 2em;

        background-color: chocolate;
        width: 10em;
        height: 11em;

        display: flex;
        align-items: center;
        justify-content: center;

        z-index: 1;
    }
}

@mixin cv {
    .cv__cv_a {
        text-decoration: none;
        color: inherit;
        font-family: inherit;

        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        height: 100%;

        .cv_a__text {
            text-transform: uppercase;
            font-weight: bold;
            position: relative;
            z-index: 2;
        }

        .cv_a__icon {
            width: 7em;
            height: auto;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            z-index: 1;
        }
    }

    .cv__cv_a:hover .cv_a__icon {
        animation: beat 1s infinite;
    }

    @keyframes beat {
        0%,
        100% {
            transform: translate(-50%, -50%) scale(1);
        }
        50% {
            transform: translate(-50%, -50%) scale(1.1);
        }
    }
}

@mixin socials {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .socials__icon {
        width: 2em;
        height: auto;
    }

    .socials__a {
        //padding-right: 1em;
    }

    .display_none {
        display: none;
    }
}

@mixin techs {
    position: relative;

    .techs__title {
        font-weight: bold;
    }

    .techs__info {
        display: flex;
        column-gap: 0.5em;
        min-height: 90%;
        padding-top: 1em;

        .info__expertise_bar {
            position: relative;
        }

        .info__expertise_bar::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 3px;
            height: 100%;
            border-radius: 1em;
            background: linear-gradient(rgba(206, 255, 178, 1) 0%, rgba(90, 158, 185, 1) 50%, rgb(185, 88, 88) 100%);
        }

        .info__techs_info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;

            .techs_info__icon_and_tag {
                position: relative;
                flex: 0 0 25%;
                padding-left: 0.5em;

                .techs_info__icon {
                    width: 3em;
                    height: auto;
                    cursor: pointer;

                    transition: all 0.1s ease-out;
                }

                .techs_info__tag {
                    padding: 0.5em;
                    width: 17em;
                    border: 1px solid var(--font-color);
                    border-radius: 1em;

                    position: absolute;
                    top: -4.5em;
                    left: 0;

                    visibility: hidden;
                    opacity: 0;
                    z-index: 3;

                    background-color: color-mix(in srgb, var(--background-color) 80%, transparent);
                    color: var(--font-color);
                    font-size: smaller;
                }
                .techs_info__icon:hover {
                    transform: scale(1.6);
                }
            }

            .techs_info__icon_and_tag:hover .techs_info__tag {
                visibility: visible;
                opacity: 1;
            }

            .techs__and_more {
                position: absolute;
                bottom: 0.5em;
                right: 1em;

                font-size: smaller;
            }
        }
    }
}

@mixin experience {
    .experience__exp_edu {
        min-height: 45%;
        margin-bottom: 1em;

        .exp_edu__title {
            font-weight: bold;
            border-bottom: 2px solid var(--font-color);
        }

        .exp_edu__jobs {
            .jobs__jobs_container {
                padding-top: 1em;

                .jobs_container__title_logo {
                    display: flex;
                    align-items: center;
                    column-gap: 0.5em;



                    .title_logo__logo {
                        width: 2em;
                        height: auto;
                    }
                }

                .jobs_container__desc {
                    margin: 0;
                    font-size: smaller;

                    .desc__bold_title {
                        margin: 0;
                        font-weight: bold;
                        font-size: smaller;
                    }
                }
            }
        }

        .exp_edu__edu {
            .edu__edu_container {
                padding-top: 1em;

                .edu_container__title_logo {
                    display: flex;
                    align-items: center;
                    column-gap: 0.5em;

                    .title_logo__title {

                    }

                    .title_logo__logo {
                        width: 2em;
                        height: auto;
                    }
                }

                .edu_container__desc {
                    font-size: smaller;
                }
            }
        }
    }
}

@mixin langs {
    .langs__title {
        font-weight: bold;
    }

    .langs__info {
        display: flex;
        min-height: 90%;
        align-items: center;
        justify-content: space-evenly;

        .langs_info__icon_and_tag {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .langs_info__icon {
                width: 3em;
                height: auto;
                cursor: pointer;

                transition: all 0.1s ease-out;
            }
            .langs_info__icon:hover {
                transform: scale(1.4);
            }

            .langs_info__tag-level {
                font-size: smaller;
                padding-top: 0.5em;
            }

            .langs_info__tag {
                padding: 0.5em;
                width: 17em;
                border: 1px solid var(--font-color);
                border-radius: 1em;

                position: absolute;
                top: -4.5em;
                left: 0;

                visibility: hidden;
                opacity: 0;
                z-index: 3;

                background-color: color-mix(in srgb, var(--background-color) 80%, transparent);
                color: var(--font-color);
                font-size: smaller;
            }
        }

        .langs_info__icon_and_tag:hover .langs_info__tag {
            visibility: visible;
            opacity: 1;
        }
    }
}

@mixin footer {
    .footer__container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: smaller;

        .container__thanks {
            min-width: 3em;
        }

        .container__cc {
            .cc__div {
                display: flex;

                .cc_div__a {
                    display: flex;
                    text-decoration: none;
                    color: $base_color_orange;

                    .a__img {
                        width: 1.5em;
                        height: auto;
                    }
                }
            }
        }
    }
}

@mixin projects {
    .projects__title {
        font-weight: bold;
        margin-bottom: 1em;
    }

    .projects__projects_container {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 1em;
        row-gap: 1em;
        flex-wrap: wrap;

        .projects_container__project {
            min-height: 7em;
            flex: 0 45%;

            padding: 0.5em;
            border: 1px solid var(--font-color);
            background-color: var(--background-color);

            border-radius: 0.5em;

            text-decoration: none;
            color: inherit;

            .project__title_project {
                position: relative;
                width: 100%;
                text-align: center;
                border-bottom: 1px solid var(--font-color);
            }

            .project__desc_project {
                padding-top: 0.5em;
                font-size: smaller;
            }
        }
    }

    .projects_container__project:hover {
        box-shadow: 0 0 2px 1px var(--font-color);
    }
}

@mixin funct {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .funct__text {
        writing-mode: vertical-rl;
        font-weight: bold;
    }

    .funct__icon {
        .icon__sun {
            width: 2em;
            height: auto;
        }
        .icon__moon {
            transform: rotate(135deg);
            width: 2em;
            height: auto;
        }
        .icon__rainbow {
            transform: rotate(135deg);
            width: 2em;
            height: auto;
        }
    }
}

@mixin faq {
    .faq__faq {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: xx-large;
        text-decoration: none;
        color: var(--font-color);
        letter-spacing: 0.5em;
        height: 100%;
    }
}
